<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<div th:fragment="content" th:remove="tag">
	<div class="row">
		<div class="col border m-3 p-2">
			<div><label>Principale Image: [[${product.mainImage}]]</label></div>
			<div class="m-2">
				<img alt="Main image preview" class="img-fluid" style="border: 1px solid #646464; border-radius: 4px; width: 93%; max-width: 600px; max-height: 400px"
					th:src="@{${product.mainImagePath}}"/>
			</div>
		</div>
		
		<th:block th:each="productImage, status : ${product.images}">
		<div class="col border m-3 p-2">
			<div>
				<label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>				
			</div>
			<div class="m-2">
				<img th:alt="'Extra image #' + ${status.index + 1} + ' preview'"  class="img-fluid-mobile-grosse"
					th:src="@{${productImage.imagePath}}"/>
			</div>				
		</div>		
		</th:block>	  
	  </div>	
</div>		
</body>
</html>