<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Immoben', 'none')">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="container-fluid">

	<div th:replace="navigation :: header_menu"></div>
	
		<div class="m-5">
			<h2 class="mt-5">Politique de confidentialité de Immoben.fr</h2>
			<hr/><br>
				<div class="ml-5"><a href="#1">1. Veuillez la lire attentivement !	</a></div>
				<div class="ml-5"><a href="#2">2. Comment nous divulguons vos annonces ?</a></div>
				<div class="ml-5"><a href="#3">3. Où stockons-nous vos Informations personnelles ?</a></div>
				<div class="ml-5"><a href="#4">4. Informations personnelles des Utilisateurs et leurs annonces.</a></div>
				<div class="ml-5"><a href="#5">5. Communications de Immoben.fr</a></div>
				<div class="ml-5"><a href="#6">6. Vos droits concernant vos Informations personnelles</a></div>
				<div class="ml-5"><a href="#7">7. Questions et réclamations</a></div>
				<div class="ml-5"><a href="#8">8. Conservation des données</a></div>
				<div class="ml-5"><a href="#9">9. Sécurité</a></div>
				<div class="ml-5"><a href="#10">10. Publication de Sites web tiers</a></div>
				<div class="ml-5"><a href="#11">11. Modifications et interprétation</a></div>
				<div class="ml-5"><a href="#12">12. Nous contacter</a></div>
			<div>
				<br><br>
				<p class="pt-5" id="1"><b>1. Veuillez la lire attentivement !</b></p><hr>
				<p>Chez Immoben.fr, nous sommes très soucieux de respecter la vie privée de nos visiteurs et nos utilisateurs. Cette Politique de confidentialité s'applique à tous les utilisateurs de Immoben.fr, y compris les visiteurs non enregistrés, les utilisateurs enregistrés et à tous les Services de Immoben.fr. </p>
				
				<p>Avant d'accéder à nos Services, ou de les utiliser, veuillez lire cette politique et vous assurer que vous comprenez parfaitement nos pratiques concernant vos Informations personnelles.  Si vous lisez et comprenez pleinement cette Politique de confidentialité, et que vous restez opposé(e) à nos pratiques, vous devez immédiatement quitter et cesser toute utilisation de nos Services.  Si vous avez une question ou une préoccupation concernant cette politique, contactez-nous à l'adresse info@immoben.fr.</p>
				<br/>
				
				<p class="pt-5" id="2"><b>2. Comment nous divulguons vos annonces ?</b></p>
				<hr>
				<p>Toute annonce faite sur notre site est montrée au grand public. Un simple visiteur sur www.immoben.fr ou tout autre utilisateur pourra facilement la consulter et au besoin vous contacter par le biais du numéro de téléphone figurant dans l’annonce précisément dans la rubrique « Téléphone de l’annonceur ». </p>
				
				<p>Votre profil est affiché lorsque vous vous connectez et reste visible aussi longtemps que vous êtes en ligne.</p>
				
				<p>Votre profil est accessible seulement par vous et uniquement avec votre adresse émail et votre mot de passe qui restent uniques, personnels et confidentiels.</p>
				<br/>
				
			
				<p class="pt-5" id="3"><b>3. Où stockons-nous vos Informations personnelles ?</b></p>
				<hr>
				<p>Les Informations personnelles des Utilisateurs et leurs annonces peuvent être stockées dans des centres de données situés aux États-Unis d'Amérique, en Europe et en Israël. Nous pourrons faire appel à d'autres pays si cela est nécessaire pour la bonne prestation de nos Services.</p>
				
				Immoben.fr est basée en Allemagne, qui est considérée par la Commission européenne comme offrant un niveau de protection adéquat aux Informations personnelles des résidents des États membres de l'UE.
				
				Les sociétés affiliées de Immoben.fr  et les Fournisseurs de services tiers qui stockent ou traitent vos Informations personnelles pour le compte de Immoben.fr  s'engagent contractuellement à les protéger et à les sécuriser, conformément aux normes du secteur et indépendamment de toute exigence juridique moindre qui pourrait s'appliquer dans leur juridiction.
				
				<p>Immoben.fr  participe, et a certifié sa conformité, au cadre des Boucliers de protection des données au Bénin. </p>
				
				<p>En ce qui concerne les Informations personnelles reçues ou transférées conformément au cadre du Bouclier de protection des données, Immoben.fr  est soumis aux pouvoirs d'application de la réglementation en cours au Bénin. Dans certaines situations, Immoben.fr  pourra être amenée à divulguer des Informations personnelles en réponse à une demande légitime des autorités publiques, notamment pour répondre à des cas d’usage de faux ou à des exigences de sécurité nationale ou d'application de la loi, et le fera lorsque les lois locales sur la protection des données le permettent.</p>
				
				<p>Si vous avez un problème de confidentialité ou d'utilisation des données non résolu que nous n'avons pas traité de manière satisfaisante, veuillez nous contacter à l’adresse info@immoben.fr </p>
				
				<p>Sur demande, Immoben.fr vous fournira des informations vous indiquant si nous détenons des Informations personnelles vous concernant. Vous pouvez accéder, corriger ou demander la suppression de vos Informations personnelles en cliquant sur l'icone : « Modifier » ou « Supprimer » ou en nous écrivant. Nous répondrons à votre demande dans le délai imposé par la législation locale ou dans un délai raisonnable.</p>
				
				<p>Veuillez noter que la suppression définitive de votre compte Immoben.fr  efface toutes vos Informations personnelles des bases de données de Immoben.fr . Une fois ce processus terminé, vous ne pourrez plus utiliser aucun de vos Services. Votre Compte Utilisateur et toutes ses données seront supprimés définitivement et Immoben.fr  ne pourra plus ni restaurer votre compte ni récupérer vos Informations personnelles. Dans ce cas, si vous contactez le support Immoben.fr, le système ne reconnaîtra pas votre compte et nos agents du service client ne pourront pas localiser le compte supprimé.</p>
				<br/>
				
				
				<p class="pt-5" id="4"><b>4. Informations personnelles des Utilisateurs et leurs annonces.</b></p>
				<hr>
				<p>Immoben.fr  peut collecter, stocker et traiter certaines Informations personnelles des Utilisateurs et leurs annonces uniquement pour le compte et sur instruction de nos Utilisateurs. </p>
				
				<p>Vous êtes responsable de la véracité, de l'intégrité et de l'utilisation autorisée de vos Informations personnelles et de vos annonces.</p>
				
				<p>Immoben.fr  ne peut pas fournir de conseils juridiques aux Utilisateurs ou aux Visiteurs, mais nous recommandons à tous les Utilisateurs de publier et de maintenir une politique de confidentialité claire et complète sur notre site, conformément à toutes les lois et réglementations applicables, et que tous les Utilisateurs lisent attentivement ces politiques et s'assurent qu'ils les comprennent et, dans la mesure requise par la loi applicable, y consentent.</p>
				
				<p>Pour plus d'informations sur la manière dont les Informations personnelles des Utilisateurs et leurs annonces peuvent être traitées par Immoben.fr, veuillez consulter nos articles en la matière.</p>
				
				<p>Si vous êtes un simple visiteur ou un annonceur, veuillez lire ce qui suit : Immoben.fr  n'a pas de relation directe avec les autres visiteurs ou annonceurs dont elle traite les Informations. Si vous êtes un visiteur, un Utilisateur ou un client de l'un de nos Utilisateurs, et que vous souhaitez faire une demande ou une requête concernant une annonce, veuillez contacter directement cet ou ces Utilisateur(s) en les appelant sur le numéro figurant dans leurs annonces . </p>
				
				<p>Par exemple, si vous souhaitez demander à accéder, corriger, modifier ou supprimer vos annonces ou des Informations personnelles inexactes traitées par Immoben.fr, veuillez nous adresser une demande.</p>
				<br/>
				
				<p class="pt-5" id="5"><b>5. Communications de Immoben.fr</b></p>
				<hr>
				<p>Immoben.fr ne partage pas vos Informations personnelles avec des tiers et ne permet pas aussi à une tierce personne de rentrer dans votre compte personnel. 
				Vous êtes contacté à propos de votre publication sur notre site uniquement à travers le numéro de téléphone que vous auriez affiché sur la publication. Ce numéro peut ne pas être celui de votre profil.</p>
				<br/>
				 
				<p class="pt-5" id="6"><b>6. Vos droits concernant vos Informations personnelles</b></p>
				<hr>
				<p>Immoben.fr  convient qu'il est impératif que vous ayez le contrôle de vos Informations personnelles. Conformément à la réglementation mondiale en matière de protection des données, Immoben.fr  prend des mesures pour vous permettre d’accéder à vos Informations personnelles, de les mettre à jour, de les modifier, de les supprimer ou d'en limiter l'utilisation.
				
				Avant de répondre à votre demande, nous pouvons vous demander des informations supplémentaires pour vérifier votre identité ou pour des raisons de sécurité. Nous nous réservons le droit de vérifier s’il existe des antécédents liés à votre décision lorsque la loi l'autorise (par exemple, si votre demande est infondée, excessive ou fait suite à la plainte d’une tierce personne).</p>
				
				<p>Vous avez le droit de déposer une plainte auprès de votre autorité de contrôle locale pour la protection des données (mais nous vous recommandons tout de même de nous contacter d'abord).</p>
				
				<p>Veuillez noter que la suppression définitive de votre compte Immoben.fr  efface toutes vos Informations personnelles des bases de données de Immoben.fr . Une fois ce processus terminé, vous ne pourrez plus utiliser aucun de vos Services Immoben.fr , votre compte et toutes ses données ainsi que vos annonces seront supprimés définitivement et Immoben.fr  ne pourra plus restaurer votre compte ni récupérer vos données. Si vous contactez l’un de nos canaux de support après cela, le système ne reconnaîtra pas votre compte et nos agents de support ne seront pas en mesure de restaurer le compte supprimé.</p>
				<br/>
				 
				<p class="pt-5" id="7"><b>7. Questions et réclamations</b></p>
				<hr>
				<p>Si vous avez des questions ou des préoccupations concernant la manière dont nous collectons, utilisons ou divulguons les Informations personnelles, ou si vous pensez que nous n'avons pas respecté la présente Politique de confidentialité ou les lois applicables en matière de protection des données au Bénin, veuillez nous contacter.</p>
				
				Notre équipe déléguée à la protection des données examinera votre réclamation et déterminera si une violation a eu lieu et quelles mesures prendre, le cas échéant. Nous prenons au sérieux toute réclamation relative à la protection de la vie privée et nous ferons tous les efforts raisonnables pour résoudre votre problème rapidement et conformément au droit applicable.
				
				<p>Vous pouvez à tout moment déposer une plainte auprès de votre autorité de contrôle locale pour la protection des données, mais nous vous recommandons de nous contacter d'abord afin que nous puissions essayer de la résoudre.</p>
				<br/>
				 
				<p class="pt-5" id="8"><b>8. Conservation des données</b></p>
				<hr>
				<p>Nous pouvons conserver vos Informations personnelles ainsi que vos annonces aussi longtemps que votre Compte Utilisateur est actif, comme indiqué dans la présente Politique de confidentialité, ou que cela est nécessaire dans la cadre de votre publication.</p>
				
				<p>Nous pouvons continuer à conserver vos Informations personnelles après que vous ayez désactivé votre Compte Utilisateur et/ou cessé d'utiliser nos Services, dans la mesure où cela est raisonnablement nécessaire pour nous conformer à nos obligations légales, pour résoudre les litiges concernant nos Utilisateurs, pour prévenir la fraude et les abus, pour faire respecter nos accords et/ou pour protéger nos intérêts légitimes.</p>
				
				<p>Nous pouvons donc conserver vos Informations personnelles aussi longtemps que votre compte est actif, et plus longtemps si nécessaire (par exemple, si nous sommes légalement obligés de les conserver plus longtemps, ou si nous en avons besoin pour protéger nos intérêts).</p>
				<br/>
				
				<p class="pt-5" id="9"><b>9. Sécurité</b></p>
				<hr>
				<p>Immoben.fr  a mis en place des mesures de sécurité destinées à protéger les Informations personnelles que vous partagez avec nous, y compris des mesures physiques, électroniques ou procédurales. En outre, nous examinons régulièrement nos systèmes pour détecter d'éventuelles vulnérabilités ou attaques, et nous recherchons régulièrement de nouveaux moyens et des Services tiers pour améliorer encore la sécurité de nos Services et mieux protéger la vie privée de nos Visiteurs et nos Utilisateurs.</p>
				
				<p>Indépendamment des mesures et des efforts déployés par Immoben.fr , nous ne pouvons pas garantir et ne garantissons pas la protection et la sécurité absolues de vos Informations personnelles, ou de toute autre information que vous téléchargez, publiez ou partagez avec Immoben.fr  ou toute autre personne. Nous vous encourageons à définir des mots de passe forts pour votre Compte Utilisateur, et à éviter de nous fournir ou de fournir à quiconque des Informations personnelles sensibles dont vous pensez que la divulgation pourrait vous causer un préjudice substantiel ou irréparable.</p>
				
				<p>Si vous avez des questions concernant la sécurité de nos Services, vous pouvez nous contacter.</p>
				Immoben.fr  attache une grande importance à la sécurité des Informations personnelles de ses clients et fait tout ce qui est en son pouvoir pour les protéger. 
				
				<p>Toutefois, comme nous ne pouvons pas garantir une protection absolue, nous vous encourageons à être prudent(e), à définir un mot de passe fort pour votre compte et à éviter de soumettre des informations sensibles qui, si elles étaient exposées, pourraient vous causer un préjudice important.</p>
				<br/>
				 
				<p class="pt-5" id="10"><b>10. Publication de Sites web tiers</b></p>
				<hr>
				<p>Nos Services se réservent le droit de supprimer toute publication contenant des liens vers d'autres sites web ou services. Nous ne sommes pas responsables des pratiques de ces sites ou services en matière de protection de la vie privée. Nous vous encourageons à être vigilant(e) lorsque vous quittez nos Services et à lire les déclarations de confidentialité de chaque site web et service que vous visitez avant de fournir vos Informations personnelles. La présente Politique de confidentialité ne s'applique pas aux sites web et services tiers liés à ce site.</p>
				<br/> 
				 
				<p class="pt-5" id="11"><b>11. Modifications et interprétation</b></p>
				<hr>
				<p>Nous pouvons modifier la présente Politique de confidentialité conformément à la législation en vigueur au Bénin, ainsi que pour tenir compte des changements apportés à nos pratiques de collecte, d'utilisation ou de stockage des Informations personnelles. 
				Nous vous recommandons de consulter régulièrement cette page pour obtenir les dernières informations sur nos pratiques en matière de protection de la vie privée. Sauf indication contraire, notre Politique de confidentialité la plus récente s'applique à toutes les informations que nous avons sur vous, concernant notre Site web.</p>
				<br/>
				
				<p class="pt-5" id="12"><b>12. Nous contacter</b></p>
				<hr>
				Si vous avez des questions concernant la présente Politique de confidentialité ou que vous souhaitez exercer l'un de vos droits, veuillez vous référer à ces sections ou contacter l'équipe de notre Délégué à la protection des données à l'adresse suivante: <a href= "mailto:info@immoben.fr">info@immoben.fr</a> .<br> 
				Nous nous efforcerons de résoudre toute plainte concernant l'utilisation de vos Informations personnelles conformément à la présente Politique de confidentialité.
				
				<p>Vous pouvez également nous contacter par téléphone au <b>+229 60 40 62 62</b> aussi bien sur l'appel direct que sur le WhatsApp.</p>

			</div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>
			<div class="pb-5"></div>	
			
			<div style="margin-bottom:20px;"></div>
		</div>

	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html>