<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Immoben', 'none')">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="container-fluid">

	<div th:replace="navigation :: header_menu"></div>
	
	<div class="m-5">	
		<h2 class="mt-5">Fonctionnement de la plateforme Immoben.fr</h2>
		<hr/><br>
		
		<p>Immoben.fr est une place de marché qui permet à ses utilisateurs d'offrir, de vendre ou de louer pratiquement tout type d’immobilier, au moyen, entre autres, de contact téléphonique.</p>
		<p>Immoben.fr n’est qu’une plateforme permettant aux acheteurs, vendeurs, locataires et propriétaires d’entrer en relation. </p>
		<p>Immoben.fr ne détient ou n'est propriétaire d'aucun bien immobilier mis en vente ou vendu sur le site et n'intervient pas dans les transactions entre acheteurs, vendeurs, propriétaires ou locataires. Les contrats de vente ou de location sont conclus exclusivement et directement entre propriétaire et locataire ou vendeur et acheteur.</p>
		<p>Cette page décrit le fonctionnement général de Immoben.fr. Vous y trouverez ici les réponses aux questions fréquemment posées :</p>
			<div class="ml-5"><a href="#1"> 1.	Qui peut mettre en ligne sur Immoben.fr?</a></div>
			<div class="ml-5"><a href="#2"> 2.	Quelles sont les modalités de paiement ?</a></div>
			<div class="ml-5"><a href="#3"> 3.	Durée de publication d’une annonce?</a></div>
			<div class="ml-5"><a href="#4"> 4.	Quel est le critère de classement par défaut ?</a></div>
			<div class="ml-5"><a href="#5"> 5.	En quoi consiste la Garantie client Immoben.fr?</a></div>
			<div class="ml-5"><a href="#6"> 6.	Quelles sont les modalités de règlement des litiges sur Immoben.fr?</a></div>
			<br><br>
		<p class="pt-5" id="1"><b>1. Qui peut mettre en ligne sur Immoben.fr?</b></p>
		<hr>
		<p>Immoben.fr permet aux acteurs professionnels et particuliers de mettre en ligne leurs objets sur la plateforme Immoben.fr. </p>
		Immoben.fr ne participe à aucune transaction financière et ne guarantie aucune sécurité sur la qualité des biens mis en ligne.
		<br><br><br>
		
		<p class="pt-5" id="2"><b>2. Modalités de paiement </b></p>
		<hr>
		<p>
			<b>Existe-il des frais pour passer une annonce?</b><br>
			Non. Il n’existe aucun frais pour passer des annonces sur Immoben.fr
		</p>
		<p>
			<b>Existe-il des frais prélevés sur le montant de location ou de vente?</b><br>
			Non. Il n’existe aucun prélèvement sur le montant de location ou de vente à travers Immoben.fr
		</p>
		
		<p><b>Comment régler vos achats sur Immoben.fr?</b>
		<br>Immoben.fr n’est pas intermédiaire de paiement, toutes les transactions entre vendeur et acheteur seront opérées en dehors de la plateforme Immoben.fr et ne concernent en rien Immoben.fr.</p>
		<p>Immoben.fr conseille néanmois à ses utilisateurs vendeurs comme acheteurs d’être prudents et de se rassurer de la conformité des descriptions faites sur l’article avant de procéder à un paiement.</p>
		<p>Veuillez également laisser ou exiger de preuve après tout règlement.</p>
		
		<p>Chaque vendeur détermine les moyens de paiement qu’il accepte. De nombreux vendeurs essayeront de vous convaincre à ne laisser aucune trace de paiement. Nous vous recommandons d‘utiliser les modes de paiement pouvant vous permettre de justifier la transaction en cas de problème.</p>
	
		<br><br><br>
		
		<p class="pt-5" id="3"><b>3. Durée de publication d’une annonce</b></p>
		<hr>
		<p>Toute annonce publiée sur Immoben.fr reste visible jusqu’à ce que l’objet soit vendu ou loué ou sauf si l’annonceur en décide autrement. </p>
		<p>Immoben.fr peut toutefois retirer les annonces d'utilisateurs qui ne respectent pas les dispositions légales en vigueur au Bénin, les droits des tiers dont notamment les droits de propriété intellectuelle tels que les marques et le droit d'auteur, nos Conditions d’utilisation 
			et/ou les règlements de Immoben.fr tels que le Règlement sur les annonces identiques, le Règlement sur les objets interdits ou soumis à restrictions, le Règlement sur l'utilisation de la propriété intellectuelle de Immoben.fr ou encore les Règles d’utilisation loyale.</p>
		<br><br><br>
		
		<p class="pt-5" id="4"><b>4. Critère de classement par défaut des annonces</b></p>
		<hr>
		Par défaut, les résultats de recherche sur Immoben.fr sont triés par catégories.
		<br><br><br>
		
		<p class="pt-5" id="5"><b>5. La Garantie client Immoben.fr</b></p>
		<hr>
		La Garantie client Immoben.fr offre une protection aux acheteurs ainsi qu’aux vendeurs selon les cas suivants:<br>
		<div class="ml-5">•	L’objet n'a pas été reçu;</div>
		<div class="ml-5">•	L’objet reçu ne correspond pas à sa description;</div>
		<div class="ml-5">•	L’objet est renvoyé après que l'acheteur ait changé d'avis sans raison valable ou si les conditions de retour de l’article ne respectent pas les clauses du vendeur.</div>
		<br><br><br>
		
		<p class="pt-5" id="6"><b>6. Modalités de règlement des litiges sur Immoben.fr</b></p>
		<hr>
		<p>Pour les litiges liés à une transaction, Immoben.fr conseille aux utilisateurs de communiquer entre eux. </p>
		<p>En cas de non entente, Immoben.fr propose de contacter notre Gestionnaire de litiges qui permet de contacter l’utilisateur et de tenter de trouver une solution directement avec lui.</p>
		<p>Enfin, vous pouvez aussi contacter les autorités compétentes si aucun accord n’a été trouvé.	</p>
	</div>
	<div class="pb-5"></div>
	<div class="pb-5"></div>
	<div class="pb-5"></div>
	<div class="pb-5"></div>
	<div class="pb-5"></div>

	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html>