<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Échec de la vérification!', 'none')"  >
	<meta charset="UTF-8">
</head>

<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	
	<div>&nbsp;</div>
	
	<div class="text-center">
		<h2>Vérification du client</h2><hr/>
		<h4><font class= "color:#ffffff;}">Votre compte a déjà été vérifié ou le code de vérification n'est pas valide.</font></h4>
	</div>

	<div>&nbsp;</div>
	
	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html>